---
import LindaLayout from "../../../layouts/LindaLayout.astro";
---

<LindaLayout>
    <h1 class="text-2xl md:text-4xl lg:text-6xl text-center text-red-500 font-extralight mb-5">Guandules Verdes</h1>
</LindaLayout>