---
import LindaLayout from "../../../layouts/LindaLayout.astro";
---

<LindaLayout>
    <h1 class="responsive-heading text-center text-red-500 font-extralight mb-5">Vegetales Mixtos</h1>
</LindaLayout>