<footer class="w-full bg-red-600 sticky bottom-0 h-20 flex justify-center z-50">
        <h1 class="text-white text-[16px] font-normal m-auto font-mono">TRANSAGRICOLA. Todos los derechos reservados</h1>
</footer>

<style>
        h1{
                font-family: Montserrat-Light;
        }
</style>