---
import Navbar from "./navbar.astro"
import HamburgerMenu from "../components/HamburgerMenu.astro";
---
<header class="header w-full bg-red-600 p-3 sticky top-0 z-50 flex justify-between items-center px-[5%]">
        <a href="/" class="flex">
            <img src="/Images/Punta Cana.png" alt="Logo de Linda" class="scale-110" style="width: clamp(100px, 12vw, 500px  );">
        </a>
        <nav>
            <Navbar />
        </nav>
        <HamburgerMenu />        
</header>