---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SiguenosEnNuestrasRedesSociales from "../components/siguenos.jsx"
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/FaviconLinda.svg">
    <title>Linda - De la mata a la lata</title>
</head>
<body class="pt-[128px] pb-[80px]">
    <Header/>
    <slot />
    <Footer />
    <SiguenosEnNuestrasRedesSociales>
</body>
</html>